body {
	font-family: "Raleway", sans-serif;
	color: #000000;
	font-size: 16px;
}

h2 {
	// font-size: 90px;
	font-size: 5.625em;
	display: block;
}

.btn {
	display: inline-block;
	text-align: center;
	width: 200px;
	padding: 20px 25px;
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: 300;
	color: #ffffff;
	text-decoration: none;
	border: none;
}

/* section ba-header */
.ba-header {
	display: flex;
	justify-content: center;
	background-color: #f9f8fb;
	background-image: url(../img/bg-header.jpg);
	// background-size: cover;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	// min-height: 1000px;

	&-left {
		margin-top: 244px;
		max-width: 380px;

		&__title {
			font-size: 3.75em;
			font-weight: 900;
			margin-bottom: 0;
		}

		&__descr {
			margin-top: 10px;
			margin-bottom: 0;
			font-size: 1.06em;
			font-weight: 300;
			line-height: 1.5;
		}

		&__btn {
			background-color: #ff6033;
			margin-top: 36px;
			// display: inline-block;
			// font-size: 1.25em;
			// font-weight: 300;
			// color: #ffffff;
			// text-decoration: none;
			// border: none;
			// padding: 20px 25px;
		}

		&__btn:hover {
			opacity: 0.5;
		}


	}

	&__scroll {
		height: 20px;
		width: 20px;
		background-color: #000000;
		position: absolute;
		bottom: 8%;
		left: 47%;
	}
}

.ba-top {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.ba-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__items {
		font-size: 1em;
		font-weight: 900;
		text-transform: uppercase;
		text-decoration: none;
		color: #000000;
		position: relative;
	}

	&__items:not(:first-child) {
		padding-left: 36px;
	}

	&__items:hover {
		color: tomato;
	}
}

.first-line::before {
	display: block;
	position: absolute;
	content: "";
	background: #ff6033;
	/* width: 10%; */
	right: 0;
	left: 0;
	height: 3px;
	top: -7px;
}

/* /section ba-header */

/* section ba-about */
.ba-about {
	display: flex;
	justify-content: center;
	/* width: 100%; */
	color: #ffffff;
	background-color: #02b4b4;
	min-height: 700px;
}

.ba-about .ba-container {
	display: flex;
	justify-content: center;
}

.ba-about {
	display: flex;
	justify-content: center;
	/* width: 100%; */
	color: #ffffff;
	background-color: #02b4b4;
	min-height: 700px;

	&-left {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		&__img {
			width: 100%;
		}
	}

	&-right {
		width: 50%;
	}

	&__title {
		margin-top: 180px;
		font-weight: 900;
		margin-bottom: 0;
	}

	&__descr {
		margin-top: 34px;
		font-size: 1.06em;
		font-weight: 300;
		line-height: 1.5;
	}
}

/* /section ba-about */

/* section ba-our */

.ba-our {
	display: flex;
	justify-content: center;
	background-color: #70bfff;
	min-height: 790px;

	& .ba-container {
		display: flex;
		justify-content: center;
		background: url(../img/tomato.png);
		background-repeat: no-repeat;
		background-size: 40%;
		background-position: right;
	}

	&-left {
		// width: 50%;
		padding: 210px 0 120px 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		&-buttons {
			height: 100px;
			width: 400px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			font-size: 1.25em;
			font-weight: 700;
			text-decoration: none;
			border: none;
			background-color: #ffffff;
		}

		& span {
			color: #000000;
			text-align: center;
		}
	}

	&-right {
		// width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		// position: relative;

		&__title {
			// padding-left: 20px;
			font-weight: 700;
			color: #ffffff;
			// position: absolute;
			top: 45%;
		}
	}
}

/* /section ba-our */

/* section ba-gallery */
.ba-gallery .ba-container {
	// display: flex;
	// justify-content: column;
}

.ba-gallery {
	& img {
		max-width: 100%;
	}

	display: flex;
	justify-content: center;
	// min-height: 1536px;
	width: 100%;
	background-color: #ffe92f;

	&-header {
		text-align: center;

		&__title {
			margin-top: 110px;
			margin-bottom: 20px;
			font-weight: 700;
			width: 100%;
		}

		&__text {
			margin: 0 auto 40px;
			max-width: 580px;
			display: block;
			font-size: 1.06em;
			font-weight: 300;
		}
	}

	&-btn {
		display: flex;
		justify-content: center;

		& a {
			background-color: #5585a2;
			margin-top: 70px;
			margin-bottom: 120px;

		}

	}
}

/* /section ba-gallery */

/* section ba-subscribe */
.ba-subscribe .ba-container {
	padding: 0 0 13%;
}

.ba-subscribe {
	// display: flex;
	// justify-content: center;
	// height: 500px;
	background-image: url(../img/blueberry-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;

	&__title {
		font-size: 40px;
		margin-top: 120px;
	}

	&__text {
		font-size: 17px;
	}

	&__input {
		padding: 20px 30px;
		font-size: 1.25em;
		border: 1px solid #262626;
	}

	&__btn {
		background-color: #96b92c;
		margin-left: 30px;
		width: 170px;

		// display: inline-block;
		// text-align: center;
		// padding: 20px 30px;
		// text-transform: uppercase;
		// font-size: 1.25em;
		// font-weight: 300;
		// color: #ffffff;
		// text-decoration: none;
		// border: none;
	}
}

/* /section ba-subscribe */

/* section ba-blog */
.ba-blog {
	& img {
		max-width: 100%;
	}

	background-color: #b07cf7;
	height: 864px;

	&-header {
		text-align: center;

		& h2 {
			color: #ffff;
			// padding-top: 200px;
			margin: 0;

		}


		& p {
			color: #ffff;
			margin: 0 auto 40px;
			max-width: 580px;
			display: block;
			font-weight: 300;


		}
	}

	&-btn {
		display: flex;
		justify-content: center;

		& a {
			background-color: #f72b3b;
			margin-top: 60px;
			// display: inline-block;
			// text-align: center;
			// width: 200px;
			// padding: 20px 30px;
			// text-transform: uppercase;
			// font-size: 1.25em;
			// font-weight: 300;
			// color: #ffffff;
			// text-decoration: none;
			// border: none;
		}
	}


}

/* /section ba-blog */

/* section ba-contact */
.ba-contact {
	background-image: url(../img/contact-bg.jpg);
	// height: 864px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	// height: 100vh;


	& .ba-container {
		// padding-top: 2%;
		padding-bottom: 6%;
	}

	&-header {
		text-align: center;
		margin-bottom: 3%;

		& h2 {
			// text-align: center;
			margin: 0;
			// padding-top: 160px;
		}

		& p {
			// font-size: 2rem;
			max-width: 356px;
			margin: 20px auto;
			display: block;
			font-weight: 300;
		}
	}


	&-form {

		& textarea,
		& input {
			background-color: #7adddd;
			width: 86%;
			color: white;
			border: none;
			font-size: 15px;
			margin-bottom: 15px;
			padding: 20px 30px;
			resize: none;

			&::placeholder {
				color: white;
			}
		}
	}

	&-details {
		& p {
			font-size: 20px;
			margin-top: 0;

			// padding: 0;
		}

	}

}

/* /section ba-contact  */

/* section ba-footer */

.ba-footer {
	display: flex;
	align-items: center;
	// min-height: 90px;
	background-color: #262626;


	& .ba-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #b9b9b9;
		margin: 2.3% auto;
	}

	&:first-child {
		font-size: 1em;
	}

	&:nth-child(2) {
		height: 30px;
	}

	&:last-child {
		font-size: 0.9375em;
	}

	&__love {
		color: #ff2b58;
	}
}